<div class="wrapper home-page-content">

    {% capture top_image_layout %}
        {% if section.settings.topImage %}
          {% assign topImage = section.settings.topImage %}
          {% assign img_url = topImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% include 'image-style' with image: topImage, small_style: false, width: 700, height: 800 %}

            <img class="hp-main-img lazyload lazypreload {{ img_id_class }}"
              src="{{ topImage | img_url: '300x300' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ topImage.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ topImage.alt | escape }}">
        {% endif %}
    {% endcapture %}

    {% capture bottom_image_layout %}
        {% if section.settings.bottomImage %}
          {% assign bottomImage = section.settings.bottomImage %}
          {% assign img_url = bottomImage | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
          {% include 'image-style' with image: bottomImage, small_style: false, width: 700, height: 800 %}

            <img class="hp-main-img lazyload lazypreload {{ img_id_class }}"
              src="{{ bottomImage | img_url: '300x300' }}"
              data-src="{{ img_url }}"
              data-widths="[180, 370, 540, 740, 900, 1080, 1296, 1512, 1728, 2048]"
              data-aspectratio="{{ bottomImage.aspect_ratio }}"
              data-sizes="auto"
              alt="{{ bottomImage.alt | escape }}">
        {% endif %}
    {% endcapture %}


    <div class="hp-section top-section">
      <div class='top-left slide-in left'>
        {{ top_image_layout }} 
      </div>
      <div class='top-right'>
        <h2 class='hp-section-heading'>{{ section.settings.top_heading }}</h2>
        <div class='hp-section-body'>
          {{ section.settings.top_text }}
        </div>
      </div>
    </div>


    <div class='hp-section middle-section'>
      <div class='middle-left slide-in left'>
        <h2 class='hp-section-heading'>{{ section.settings.middle_heading }}</h2>
          <div class='hp-section-body'>
            {{ section.settings.middle_text }}
          </div>
      </div>

      <div class='middle-right slide-in'>
        <img class='accent-img' src="{{ 'geo-sun.svg' | asset_url }}"></img>
        <div class='accent-text'>
          <h4>Set</h4>
          <h6>/set/</h6>
          <hr class="hr--small yellow">
          <p>
            the intention, emotional and physical state that you bring to an experience
          </p>
        </div>

        <div class='accent-text'>
          <h4>Setting</h4>
          <h6>/'sediNG/</h6>
          <hr class="hr--small yellow">
          <p>
            the environment and tools that you bring to an experience
          </p>
        </div>
      </div>
    </div>


    <div class="hp-section bottom-section">
      <div class='bottom-left'>
        <h2 class='hp-section-heading'>{{ section.settings.bottom_heading }}</h2>
        <div class='hp-section-body'>
          {{ section.settings.bottom_text }}
        </div>
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn">
            {{ section.settings.button_label | escape }}
          </a>
        {% endif %}
      </div>
      <div class='bottom-right slide-in'>
        {{ bottom_image_layout }}
      </div>
    </div>

  </div>
</div>


<style>
.hp-section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  padding-bottom: 70px;
  padding-top: 30px;
  position: relative;
}

.hp-section-heading {
  font-size: 3.052em;
  padding-top: 20px;
}

.hp-section-body {
  font-size: 1.15em;
  padding-top: 50px;
  opacity: 0.75;
}

.hp-main-img  {
  width: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, .1);
}

.top-left {
  grid-column: 1 / 7;
}

.bottom-left, .middle-left {
  grid-column: 1 / 6;
}

.bottom-right {
  grid-column: 7 / 13;
}

.top-right {
  grid-column: 8 / 13;
}

.middle-right {
  grid-column: 8 / 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  position: relative;
}

.accent-text h4, .accent-text h6, .accent-text p {
  color: #D4B86A !important;
  text-transform: none !important;
  text-align: center;
}

.accent-text h4 {
  font-size: 1.563em;
}

.accent-text h6, .accent-text p {
  font-size: 1.25em;
}

.accent-text h4 {
  font-weight: 500;
}

.accent-text {
  margin-bottom: 50px;
}

.hr--small.yellow {
  border-top: 1px solid #D4B86A;
}

.middle-section {
  background: #563187;
  padding: 190px 3000px;
  margin: -190px -3000px;
}

.middle-left, .middle-left .hp-section-heading {
  color: white !important;
}

.top-section {
  margin-bottom: 70px;
  z-index: 5;
}

.bottom-section {
  margin-top: 130px;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.accent-img {
  position: absolute;
  opacity: .2;
  animation: rotating 20s linear infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
  .hp-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-left, .bottom-right {
    width: 100%;
  }

  .top-right {
    margin-bottom: 100px;
  }

  .middle-section {
    padding: 150px 3000px;
    margin: -150px -3000px;
  }

  .middle-left {
    margin-bottom: 30px;
  }

  .bottom-left {
    margin: 30px 0;
  }
}

</style>


<script>

const setVisible = (target) => { target.classList.add('is-visible'); }
    const removeVisible = (target) => { target.classList.remove('is-visible'); }

    const intersectionCallback = (entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) setVisible(entry.target);
        else removeVisible(entry.target);
      })
    }

    const observer = new IntersectionObserver(
      intersectionCallback,
        {
          rootMargin: '0px',
          threshold: 0,
        }
      );

    document.querySelectorAll('.grid-product__wrapper, .slide-in').forEach((target) => {
      target.classList.add('fade-in-section');
      observer.observe(target);
    });
</script>

{% schema %}
{
  "name": "Home Page Content",
  "settings": [
      {
        "id": "top_heading",
        "type": "text",
        "label": "Top Heading",
        "default": "Title"
      },
      {
        "id": "top_text",
        "type": "richtext",
        "label": "Top Body Text",
        "default": "<p>Add your text here</p>"
      },
      {
        "type": "image_picker",
        "id": "topImage",
        "label": "Top Image"
      },
      {
        "id": "middle_heading",
        "type": "text",
        "label": "Middle Heading",
        "default": "Title"
      },
      {
        "id": "middle_text",
        "type": "richtext",
        "label": "Middle Body Text",
        "default": "<p>Add your text here</p>"
      },
      {
        "type": "image_picker",
        "id": "middle_image",
        "label": "Middle Image"
      },
      {
        "id": "bottom_heading",
        "type": "text",
        "label": "Bottom Heading",
        "default": "Title"
      },
      {
        "id": "bottom_text",
        "type": "richtext",
        "label": "Bottom Body Text",
        "default": "<p>Add your text here</p>"
      },
      {
        "type": "image_picker",
        "id": "bottomImage",
        "label": "Bottom Image"
      },
      {
        "id": "button_label",
        "type": "text",
        "label": "Bottom Button Label",
        "default": "Title"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Bottom Button Link"
      }
    ],
    "presets": [
      {
        "name": "Home Page Content",
        "category": "Content"
      }
    ]
}
{% endschema %}
